{
    // "plugins": [
    //     "@babel/plugin-transform-template-literals",
    //     "@babel/plugin-transform-classes",
    //     "@babel/plugin-transform-block-scoping"
    // ]
    "presets":[["@babel/env", {
        // "targets": {
        //     "edge": "18",
        //     "chrome": "54",
        //     "ie": "11"
        // }
        "corejs": 3,
        "useBuiltIns": "usage",
        "debug": true,
        "modules": false
        // "targets": [
        //     // "last 2 chrome versions",
        //     // "last 2 firefox versions",
        //     // "last 2 ios versions"
        //     "> 0.3%",
        //     "not ie > 0"
        // ]
    }],
    "@babel/react"],
    "plugins": [
        "@babel/proposal-class-properties"
    ]
}